In [ ]:
import pandas as pd

In [ ]:
# converting the .json file into a pandas dataframe (df)

pd.read_json('train.json')

In [ ]:
pd.read_json('train.json').info()

#### working with sql

In [ ]:
pip install kagglehub

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("busielmorley/worldcities-pop-lang-rank-sql-create-tbls")

print("Path to dataset files:", path)

In [ ]:
%pip install mysql-connector-python

In [ ]:
import mysql.connector
import pandas as pd

In [ ]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="sql@123",
    database="world"
)

df = pd.read_sql("SELECT * FROM city LIMIT 10;", conn)
df.head()

In [ ]:
pd.read_sql_query("SELECT * FROM city WHERE CountryCode LIKE 'IND'", conn)

In [ ]:
pd.read_sql_query("SELECT * FROM country WHERE LifeExpectancy>60", conn)

In [ ]:
df = pd.read_sql_query("SELECT * FROM city WHERE District LIKE 'West Bengali'", conn)

In [ ]:
df

In [ ]:
df.info()