In [ ]:
pwd

In [ ]:
import pandas as pd
import seaborn as sns

In [ ]:
tips=sns.load_dataset('tips')

In [ ]:
tips.sample(5)

In [ ]:
titanic=pd.read_csv('train.csv')

titanic.sample(5)

In [ ]:
flights=sns.load_dataset('flights')
flights.sample(5)

In [ ]:
iris=sns.load_dataset('iris')
iris.sample(5)

In [ ]:
# 1. scatterplot (numerical -numerical)
# The DataFrame is passed to 'data', and column names are passed to 'x' and 'y'
sns.scatterplot(x='total_bill', y='tip', data=tips)

In [ ]:
# 1.2 scatterplot (numerical -numerical) - multivariate

sns.scatterplot(x='total_bill', y='tip', data=tips, hue=tips['sex'])

In [ ]:
# 1.3 scatterplot (numerical -numerical) - multivariate

sns.scatterplot(x='total_bill', y='tip', data=tips, hue=tips['sex'], style=tips['smoker'])

In [ ]:
# 1.4 scatterplot (numerical -numerical) - multivariate

sns.scatterplot(x='total_bill', y='tip', data=tips, hue=tips['sex'], style=tips['smoker'], size=tips['size'])

In [ ]:
# bar plot (numerical - categorical)

titanic.sample(5)

In [ ]:
sns.barplot(x='Pclass', y='Age', data=titanic)

In [ ]:
sns.barplot(x='Pclass', y='Fare', data=titanic )

In [ ]:
sns.barplot(x='Pclass', y='Age', data=titanic, hue=titanic['Sex'] )

In [ ]:
sns.barplot(x='Pclass', y='Fare', data=titanic, hue=titanic['Sex'] )

In [ ]:
# 3. box plot (numerical - categoriacl)

sns.boxplot(x='Sex', y='Age', data=titanic, hue=titanic['Survived'])

In [ ]:
# 4. distplot (numeircal - categorical)

sns.displot(x='Age', data=titanic)

In [ ]:
sns.displot(titanic[titanic['Survived']==0]['Age'])
sns.displot(titanic[titanic['Survived']==1]['Age'])

In [ ]:
# 5. heat map ( categorical - categorical)

pd.crosstab(titanic['Pclass'], titanic['Survived'])

In [ ]:
sns.heatmap(pd.crosstab(titanic['Pclass'], titanic['Survived']))

In [ ]:
titanic.groupby('Pclass').mean(numeric_only=True)

In [ ]:
titanic.groupby('Pclass').mean(numeric_only=True).plot(kind='bar')

In [ ]:
titanic.groupby('Sex').mean(numeric_only=True)

In [ ]:
titanic.groupby('Embarked').mean(numeric_only=True)

In [ ]:
# 6. clustermap (categorical - categorical)

# Create the contingency table
crosstab_data = pd.crosstab(titanic['Pclass'], titanic['Survived'])

crosstab_data

In [ ]:
pip install scipy

In [ ]:
sns.clustermap(crosstab_data)

In [ ]:
# 7. pairplot

iris.sample(5)

In [ ]:
sns.pairplot(iris)  #for too many numerical quantities

In [ ]:
sns.pairplot(iris, hue='species')

In [ ]:
# 8. lineplot (numerical - numerical)

flights.sample(5)

In [ ]:
new=flights.groupby('year').sum(numeric_only=True).reset_index()

In [ ]:
sns.lineplot(x='year', y='passengers', data=new)